<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.QuestionMapper">

	<select id="selectByAll" resultType="QuestionVO">
		select *
		from question
		order by substring(question_code from 7 for 3)
	</select>
	
	<select id="selectByNO" resultType="QuestionVO">
		SELECT *
		FROM question
		where question_code = #{questionCode}
	</select>
	
	<insert id="insert">
		INSERT INTO question
		(question_code, question_title, choice1, choice2, choice3, choice4, correct, state, correct_rate, picture, subject, `year`, round)
		VALUES(#{questionCode}, #{questionTitle}, #{choice1}, #{choice2}, #{choice3}, #{choice4}, #{correct}, #{state}, #{correctRate}, #{picture},#{subject},#{year},#{round})
	</insert>
	
	<delete id="delete">
		DELETE FROM question
		WHERE question_code=#{questionCode}
	</delete>
	
	<update id="update">
		UPDATE question
		SET question_title=#{questionTitle}, choice1=#{choice1}, choice2=#{choice2}, choice3=#{choice3}, choice4=#{choice4}, correct=#{correct}, state=#{state}, correct_rate=#{correctRate}, picture=#{picture}, subject=#{subject}, year=#{year} ,round=#{round}
		WHERE question_code=#{questionCode}
	</update>
	
	<!-- 연도/회차로 문제 select -->
	<select id="selectByYearAndRound" resultType="QuestionVO">
		select *
		from question
		where year=#{year} and round=#{round}
		order by substring(question_code from 7 for 3)
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<!-- #{perPageNum}조절하여 갯수 지정하기 -->
	<select id="listCriteria" resultType="QuestionVO">
	 	SELECT *
		FROM question
		where year=#{year} and round=#{round}
		order by substring(question_code from 7 for 3)
		limit #{pageStart}, #{perPageNum}
	 </select>
	 
	 <!--  page용 question 총 갯수  -->
	<select id="totalCount" resultType="int">
		select count(question_code) 
		from question
		where year=#{year} and round=#{round}
	</select>
	
	<!-- 랜덤으로 한문제씩 출력 -->
	<select id="selectByRandom" resultType="QuestionVO">
		select *
		from question 
		where year=#{year} and round=#{round}
		order by rand()
	</select>
</mapper>






















