<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.ResultTestMapper">

	<select id="selectByAll" resultType="ResultTestVO">
		SELECT *
		FROM resulttest
	</select>
	
	<select id="selectByNo" resultMap="mapResultTestVO">
		SELECT *
		FROM resulttest
		where resulttest_code=#{resultTestCode}
	</select>
	
	<resultMap type="ResultTestVO" id="mapResultTestVO">
		<id column="resultTest_code" property="resultTestCode"/>
		<result column="customer" property="customer.customerCode"/>
		<result column="resultTest_code" property="resultTestCode"/>
		<result column="answer" property="answer"/>
		<result column="correct" property="correct"/>
		<result column="spendTime" property="spendTime"/>
		<result column="score" property="score"/>
		<result column="pass" property="pass"/>
		<result column="test" property="test.testCode"/>
	</resultMap>
	
	<!-- <select id="selectByCustomerCode" parameterType="CustomerVO" resultMap="mapResultTestVO">
		SELECT resultTest_code ,customer, answer, correct, spendTime, score, pass, test
		FROM resulttest
		where customer=#{customerCode}
	</select> -->
	
	<select id="selectByCustomerCode" resultMap="mapResultTestVO">
		SELECT resultTest_code ,customer, answer, correct, spendTime, score, pass, test
		FROM resulttest
		where customer=#{customerCode}
	</select>
	
	<insert id="insertResultTest">
		INSERT INTO resulttest
		(customer, answer, correct, spendTime, score, pass, test)
		VALUES(#{customer.customerCode}, #{answer}, #{correct}, #{spendTime}, #{score}, #{pass}, #{test.testCode})
	</insert>
	
	<delete id="deleteResultTest">
		DELETE FROM resulttest
		WHERE resultTest_code=#{resultTestCode}
	</delete>
	
	<update id="updateResultTest">
		UPDATE resulttest
		SET customer=#{customer.customerCode}, answer=#{answer}, correct=#{correct}, spendTime=#{spendTime}, score=#{score}, pass=#{pass}, test=#{test.testCode}
		WHERE resultTest_code=#{resultTestCode}
	</update>

</mapper>






















