<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.TestMapper">
	
	<select id="selectByAll" resultType="TestVO">
		SELECT *
		FROM test
	</select>
	
	<select id="selectByNo" resultType="TestVO">
		SELECT *
		FROM test
		where test_code=#{testCode}
	</select>
	
	<insert id="insertTest">
		INSERT INTO questionbank.test
		(test_code, `year`, round, test_time)
		VALUES(#{testCode}, #{year}, #{round}, #{testTime})
	</insert>
	
	<delete id="deleteTest">
		DELETE FROM test
		WHERE test_code=#{testCode}
	</delete>
	
	<update id="updateTest">
		UPDATE questionbank.test
		SET `year`=#{year}, round=#{round}, test_time=#{testTime}
		WHERE test_code=#{testCode}
	</update>
</mapper>






















